<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ユーザーログイン画面</title>
</head>
<body>
	<div th:insert="~{common/sourceList::sourceList}"></div>
	<div class="container my-5">
		<div class="row d-flex justify-content-center">
			<div class="col-12 my-2 text-center"><h1>ユーザーログイン画面</h1></div>
			<div class="col-md-6">
				<form method="post" th:action="@{/login}" th:object="${loginForm}">
					<p th:text="${ｍessage}" class="text-danger"></p>
					<div class="form-group">
						<label for="email" class="col-form-label">メールアドレス</label>
						<input class="form-control" type="text" th:field="*{email}" />
						<span th:errors="*{email}" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label for="password" class="col-form-label">パスワード</label>
						<input class="form-control" type="password" th:field="*{password}" />
						<span th:errors="*{password}" class="text-danger"></span>
					</div>
					<div class="d-flex justify-content-center my-4">
						<input type="submit" class="btn btn-primary mx-2 px-4" value="ログイン">
						<a th:href="@{/userRegister}" class="btn btn-success mx-2 px-4">新規登録</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</html>