<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品詳細画面-main部品</title>
</head>
<body>
<main id="main">
	<div th:fragment="mainContent">
		
		<div class="row mb-5" th:if="${product != null}">
			<div class="col-md-8">
				<div class="my-3">
					<img th:src="@{${product.productImgPath}}" src="https://placehold.jp/450x300.png"
						class="img-fluid" th:alt="${product.productName}">
				</div>
			</div>
			<div class="col-md-4">
				<div class="m-2 d-flex align-items-center">
					<label for="productName" class="col-form-label mb-0">商品名：</label>
					<p th:text="${product.productName}" class="ml-2 mb-0"></p>
				</div>
				<div class="m-2 d-flex align-items-center">
					<label for="companyName" class="col-form-label">メーカー名：</label>
					<p th:text="${product.companyId.companyName}" class="ml-2 mb-0"></p>
				</div>
				<div class="m-2 d-flex align-items-center">
					<label for="price" class="col-form-label">価格：</label>
					<p th:text="'¥' + ${product.price}" class="ml-2 mb-0"></p>
				</div>
				<div class="m-2 d-flex align-items-center">
					<label for="taxPrice" class="col-form-label">税込価格：</label>
					<p th:text="'¥' + ${product.taxPrice}" class="ml-2 mb-0"></p>
				</div>
				<div class="m-2 d-flex align-items-center">
					<label for="stock" class="col-form-label">在庫数：</label>
					<p th:text="${product.stock}" class="ml-2 mb-0"></p>
				</div>
			</div>
		</div>
		<div th:if="${product == null}" class="text-danger">
			<p>商品が見つかりませんでした。</p>
		</div>
		<div class="mb-5">
			<div class="my-2">
				<h4>＜口コミ＞</h4>
			</div>
			<div th:each="review : ${reviews}" class="m-2">
				<div class="d-flex align-items-center">
					<label for="userName" class="col-form-label">ユーザー名：</label>
					<p th:text="${review.dummyUserName}" class="ml-2 mb-0"></p>
				</div>
				<div class="d-flex align-items-center">
					<label for="comment" class="col-form-label">コメント：</label>
					<p th:text="${review.comment}" class="ml-2 mb-0"></p>
				</div>
				<div class="d-flex align-items-center">
					<label for="rating" class="col-form-label">評価（5段階）：</label>
					<span th:each="i : ${#numbers.sequence(1, 5)}"
						th:classappend="${i <= review.rating} ? 'filled' : ''" class="star">&#9733;</span>
				</div>
				<div class="d-flex align-items-center">
					<label for="createdTime" class="col-form-label">投稿日時：</label>
					<p th:text="${formattedDate}" class="ml-2 mb-0"></p>
				</div>
			</div>
		</div>
		<div th:if="${reviews == null}" class="text-danger">
			<p>口コミは見つかりませんでした。</p>
		</div>
		<div class="my-4 mb-5">
			<a th:href="@{/purchase}" class="btn btn-primary mx-2 px-4">単品購入</a>
<!--			<button th:onclick="|window.location.href='@{/productDetail/{id}(id=${product.id})}'|"-->
<!--				class="mx-2 px-4">単品購入</button>-->
			<a th:href="@{/reviewPost}" class="btn btn-success mx-2 px-4">口コミ投稿</a>
		</div>
	</div>
</main>
</body>
</html>