<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧画面</title>
</head>
<body>
	<div th:insert="~{common/sourceList :: sourceList}"></div>
	<div th:replace="~{common/header :: header}"></div>
	<div class="container my-5">
		<div class="my-2 pb-5">
			<h3>商品一覧画面</h3>
		</div>
		<div class="row">
			<div th:if="${message}">
				<p th:text="${message}" class="alert alert-warning"></p>
			</div>
			<div th:each="product : ${products}" class="col-md-4 mb-4">
				<div class="card m-1">
					<div class="card-body">
						<div class="mb-2">
							<a th:href="@{/product/{id}(id=${product.productId})}" style="border: none;">
								<img th:src="@{${product.productImgPath}}" src="https://placehold.jp/450x300.png"
									th:alt="${product.productName}" class="img-fluid">
							</a>
						</div>
						<p class="card-title" th:text="'商品名: ' + ${product.productName}"></p>
						<p class="card-text" th:text="'メーカー名: ' + ${product.companyId.companyName}"></p>
						<p class="card-text" th:text="'¥' + ${product.price}"></p>
						<p class="card-text" th:text="'¥' + ${product.taxPrice} + ' (税込)'"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="~{common/footer :: footer}"></div>
</body>
</html>