<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品詳細画面-side/カート</title>
</head>
<body>
	<aside id="sidebar" th:fragment="sidebarContent">
		<div>
			<a th:href="@{/purchase}" class="btn btn-primary mx-2 px-4">カートに入れる</a>
		</div>
		<div class="m-2">
			<label for="quantity" class="col-form-label">数量：</label>
			<select id="quantity" name="quantity" class="ml-2">
				<option th:each="i : ${#numbers.sequence(1, 100)}" th:value="${i}" th:text="${i}"></option>
			</select>
		</div>
		<div class="m-2">
			<p>価格： ¥<span th:text="${product.price}"></span></p>
			<p>税込価格： ¥<span th:text="${product.taxPrice}"></span></p>
			<p>在庫表示： <span th:text="${product.stock}"></span></p>
		</div>
	</aside>
</body>
</html>