<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文完了画面</title>
</head>
<body>
	<div th:insert="~{common/sourceList :: sourceList}"></div>
	<div th:replace="~{common/header :: header}"></div>
	<div class="container my-4">
		<div class="my-2 pb-5">
			<h3>購入完了画面</h3>
		</div>
		<div id="orderMessage" th:text="${orderMessage}" th:if="${orderMessage != null}" style="display: block;"></div>
		<h2>注文完了</h2>
		<div class="border my-3 p-3">
			<div class="mb-3">ご注文ありがとうございました。</div>
			<div>
				<div class="my-3">
					<label for="userName" class="mt-2">名前：</label><span th:text="${userName}"></span><br>
					<label for="userAddress" class="mt-2">住所：</label><span th:text="${purchaseDetailForm.selectedUserAddress}"></span><br>
					<label for="apartment" class="mt-2">アパート名：</label><span th:text="${purchaseDetailForm.selectedApartment}"></span><br>
					<label for="cardNumber" class="mt-2">カード番号：</label><span th:text="${purchaseDetailForm.selectedCardNumber}"></span><br>
					<label for="totalAmount" class="col-form-label">合計金額：</label><span th:text="'¥' + ${totalAmount}" class="ml-2 mb-0"></span>
				</div>
			</div>
		</div>
		<div class="my-2">
			<a th:href="@{/}" class="btn btn-primary">TOP画面に戻る</a>
		</div>
	</div>
	<div th:replace="~{common/footer :: footer}"></div>
</body>
</html>
