@charset "UTF-8";

.footer {
	bottom: 0;
	width: 100%;
	height: 10%;
	padding: 20px 0;
	position: 1;
}

#sidebar {
	width: 25%;
	margin-left: auto;
}

.star {
	color: grey;
}

.star.filled {
	color: #ffd700;
}

.grayed-out {
	background-color: #e9ecef;
	pointer-events: none;
	opacity: 0.6;
}